<div class="row animated fadeIn">

    <div class="col-lg-7">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{ user.name }}</h4>
                <h6 class="card-subtitle"></h6>
                <form #form="ngForm" (ngSubmit)="updateProfile(form.value)" ngNativeValidate class="form p-t-20">
                    <div class="form-group">
                        <label>User Name</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input [ngModel]="user.name" name="name" type="text" class="form-control" placeholder="Username" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Email address</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-email"></i></div>
                            <input [ngModel]="user.email" [disabled]="user.google" name="email" type="email" class="form-control" placeholder="Email" required>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                      <i class="fa fa-save"></i>
                      &nbsp;Save
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="col-lg-5">
        <div class="card">
            <div class="card-body" align="center">
                <h4 class="card-title">User picture</h4>
                <h6 class="card-subtitle"></h6>
                <img *ngIf="!tempImage" [src]="user.image | image" class="w150" alt="">
                <img *ngIf="tempImage" [src]="tempImage" class="w150" alt="">
                <br><br><br>
                <input (change)="imageChanged($event.target.files[0])" type="file" name="" id="">
                <br/><br/>
                <button (click)="updateImage()" [disabled]="!image" type="button" class="btn btn-success btn-block waves-effect waves-light m-r-10">Update picture</button>
            </div>
        </div>
    </div>
</div>
