<div class="row">

  <div class="col-4" *ngIf="users.length > 0">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Users</h4>
        <table class="table table-hover">
          <tbody>
          <tr *ngFor="let user of users" [routerLink]="['/users']" class="pointer">
            <td>
              <img [src]="user.image | image" alt="" class="img-rounded img-fluid w-75">
            </td>
            <td>{{ user.name }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-4" *ngIf="doctors.length > 0">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Doctors</h4>
        <table class="table table-hover">
          <tbody>
          <tr *ngFor="let doctor of doctors" [routerLink]="['/doctors', doctor._id]" class="pointer">
            <td>
              <img [src]="doctor.image | image:'doctor'" alt="" class="img-rounded img-fluid w-50">
            </td>
            <td>{{ doctor.name }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-4" *ngIf="hospitals.length > 0">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Hospitals</h4>
        <table class="table table-hover">
          <tbody>
          <tr *ngFor="let hospital of hospitals" [routerLink]="['/hospitals']" class="pointer">
            <td>
              <img [src]="hospital.image | image:'hospital'" alt="" class="img-rounded img-fluid w-75">
            </td>
            <td>{{ hospital.name }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
